// Global Stylesheet
// Color Palette
$primary-color: #bf0000;
$secondary-color: #f6acbe;
$tertiary-color: #f3ec08;
//Typography
body {
    font-family: futura;
	background: $secondary-color;
	background-image: url('/img/backgroundPattern.png');
}
main {
	position: relative;
	top: -4px;
}

aside,
article {
    background: white;
    margin: 0;
    padding:5% 10%;
}
article p::first-letter  {
  float: left;
  font-size: 400%;
  margin: -.5em .1em -.2em 0;
	color: $primary-color;
}

// Lettering
.char1,
.char2,
.char3,
.char4,
.char6,
.char7,
.char8,
.char9,
.char10,
.char11,
.char12 {
    color: black;
    position:relative;
    left: .5em;
}
.char6,
.char7,
.char8,
.char9,
.char10,
.char11,
.char12 {
    font-size: 40%;
}
.char6,
.char7,
.char8 {
    position:relative;
    top: -1em;
    left: .95em;
}
.char9,
.char10,
.char11,
.char12 {
    position:relative;
    left:-.9em;
    font-size: 45%;
}
.char14,
.char16,
.char15,
.char17,
.char18,
.char19,
.char20,
.char21,
.char22 {
    position:relative;
    right: .5em;
}
.char19,
.char20,
.char21,
.char22 {
   right: .6em;
}
//Header
header {
padding: 1em 0;
    top: -4px;
    background: white;
    position:fixed;
    width: 100%;
    top: 2em;
    display: block;
    box-shadow: 0px 0px 90px white;
}
h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: $primary-color;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0; 
}
// Body
.body {
    position: relative;
    top: 4em;
}
//Images
img.hero {
    width: 100%;
    margin: 0 auto;
}
img.name {
    position: absolute;
    top: 0;
    width: 25%;
	padding: 20% 0 0 14%;
	z-index: -1;
}

//Tagline
.taglinebox {
    padding: 0;
    top: -4px;
    background: $secondary-color;
    display: block;
    position: relative;
    box-shadow: 0px -20px 120px white;
}
h3 {
	text-transform: uppercase;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: .5em 0 .5em 0;
    font-size: 125%;
	transition: .5s ease;
}
h3:nth-child(2),
h3:nth-child(5)
 {
padding: 0;
	position: relative;
	top: -.5em;
}
li {
	list-style: none;
}

// Video Player Styling
section {
    position: relative;
   top: -4px;
    background: $tertiary-color;
    box-shadow: 0px 0px 120px white;
}
video {
    max-width: 100%;
    width: 100%;
}
.mejs__time-total {
    background: #f3ec08;
}
