/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

   .page {
       display: block;
    }
//    article {
//       padding-top: 2em;
//    }
    
//  /* Diagnostic Styling. Delete When Done. */
//  body:before {
//       background: yellow;
//       content: "Mobile Size";
//  }
      
}


/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {
    img.hero {
        max-width: 80%;
//        margin: 0 auto;
        display: flex;
          align-items: center;  
    }  
    img.name {
        padding: 16% 0 0 20%;
    width: 20%;
    }  
    main {
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
    p {
        padding-left: 20%;
    }
    
    main article,
    main aside {
        width: 50%;
    }  

    
    section {
        max-width: 80%;
        margin: 0 auto;
    }
   
//  /* Diagnostic Styling. Delete When Done. */
//  body:before {
//       background: yellow;
//       content: "Tablet Size";
//  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
    h1 {
        width: 73%;  
        max-width: 1280px;
    }
    p {
        padding-left: 30%;
    } 
    
    img.hero,
      section {
        width: 70%;  
        max-width: 1280px;
        padding-top: 0; 
        margin: 0 auto;
    }
    img.name {
        padding: 12% 0 0 22%;
    width: 20%;
    }
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }
  
}